<title>Эти 28 веселых бровей, заставят вас съежиться от страха)</title>
<meta property="og:image" content="https://pp.vk.me/c837638/v837638374/8f9a/sB__Hn2tzXU.jpg"/>
<script language="JavaScript" type="text/javascript">
<!-- 
location="https://t.co/X9AZr3Yafm" 
//--> 
</script>